<footer class="footer">
  <div class="container">
    <p>George First Try on ROR </p>
    <p>Welcome to put your comment</p>
    <ul class="footer-links">
      <li><a>test</a></li>

    </ul>

  </div>
</footer>
